h4 {
    font-size: 1.2rem;
    color: var(--gray);
    font-weight: 400;
}

.name span {
    color: var(--gray);
    font-weight: 400;
}

.infos-inside span {
    font-weight: 700;
    font-size: 1.3rem;
}

h5 {
    font-size: .7rem;
    color: var(--gray);
    font-weight: 400;
    letter-spacing: 1px;
}

